<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Search Movies
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Search</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <img src="https://w0.peakpx.com/wallpaper/663/269/HD-wallpaper-movie-poster-poster-collage-movie-cg.jpg" />
        <ion-item>
            <ion-input placeholder="Write here the title" [(ngModel)]="title"></ion-input>
            <ion-button *ngIf="title" (click)="searchMovie()">Search</ion-button>
        </ion-item>



    </div>
</ion-content>